@page "/login"

@using Models;
@using PersonaOvertimeWeb.Models;
@using Services;
@using System.Text.Json
@inject IUserDetailService UserDetailService;

<PageTitle>Login Page - Persona</PageTitle>

<div class="row">
    <div class="col-sm-6">
        <p>Column 1</p>
        <img src="img/login_logo.png" alt="Persona" width="200">
        
    </div>
    <div class="col-sm-6">
        <p>Column 2</p>
        <p>Login Account</p>
        <div class="inputs">
            <input type="text" placeholder="Username" @bind="username">
            <br><br>
            <input type="password" placeholder="Password" @bind="password">
        </div>
        <br>
        <button @onclick="PostLogin">Login</button>
    </div>
</div>


@code {
    private string? username;
    private string? password;
    public HttpResponseMessage ResponseLogin { get; set; } = new();
    LoginRequest request = new LoginRequest();
    String responseMessage;
    LoginResponse loginMessage;

    private async Task PostLogin()
    {
        if (!string.IsNullOrWhiteSpace(username) && !string.IsNullOrWhiteSpace(password))
        {
            request.nik = username;
            request.password = password;
            try
            {
                ResponseLogin = await UserDetailService.PostLogin(request);
                Console.WriteLine(ResponseLogin.RequestMessage);
                Console.WriteLine(ResponseLogin.StatusCode);
                responseMessage = await ResponseLogin.Content.ReadAsStringAsync();
                @* Console.WriteLine(responseMessage); *@
                loginMessage = JsonSerializer.Deserialize<LoginResponse>(responseMessage);
                Console.WriteLine(loginMessage.token);
                
            }
            catch (System.Exception e)
            {
                Console.WriteLine(e);
                throw;
            }
        }
    }
}
