@page "/profile"

@using Models;
@using Services;
@inject IUserDetailService UserDetailService;

<PageTitle>Profile</PageTitle>

<h1>Profile</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p role="name">@User.name</p>
<p role="nik">@User.nik</p>
<p role="role">@User.role</p>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public UserDTO User { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await GetUserDetail();
    }

    private async Task GetUserDetail()
    {
        User = await UserDetailService.GetUserDetail();
        Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(User));
    }
}
