@inherits LayoutComponentBase

<PageTitle>Persona</PageTitle>

<div style="width: 100vw; height: 100vh">
    <main>
        <article>
        @Body
        </article>

        <footer>
            <div style="height: 10vh; background-color: rgba(250, 250, 250, 1); display:flex;justify-content:center;align-items:center;">
                <div class="text-center">
                    © 2022 - Persona
                </div>
            </div>
        </footer>
    </main>
</div>