@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager Navigation

<PageTitle>PersonaOvertimeWeb</PageTitle>

<div class="page">
    <div class="sidebar">
        <a class="navbar-brand" href="login">
            <div>
                <img src="img/login_logo.png" alt="Persona" width="250">
            </div>
        </a>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button title="Navigation menu" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="btn btn-danger" @onclick="Logout">
                <p>Logout</p>
            </button>
            <NavLink class="nav-link" href="profile">
                <span class="oi oi-person" aria-hidden="true"></span> Profile
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <br><br><br>

        <footer>
            <div class="text-center p-4" style="background-color: rgba(250, 250, 250, 1);">
                © 2022 - Persona
            </div>
        </footer>
    </main>
</div>

@code {
    private async Task Logout()
    {
        await ProtectedSessionStore.DeleteAsync("token");
        NavigateToLogin();
    }
    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }
}